main {
  width: 375px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 200px;

    input {
      padding: 4px;
      margin: 4px auto;
      width: 100%;
    }

    button {
      width: 100%;
      margin: 16px auto;
      padding: 4px;
      background: rgb(91, 200, 255);
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      color: #333;

      &:active {
        background: rgb(76, 165, 210);
      }
    }
  }
}
