@import './scss/modal.scss';

@mixin back {
  background: #249ae4;
  background: -webkit-radial-gradient(center, #249ae4, #173486);
  background: -moz-radial-gradient(center, #249ae4, #173486);
  background: radial-gradient(ellipse at center, #249ae4, #173486);
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  @include back;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: flex;
  overflow: hidden;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: content-box;
}
